.detail-container{
    background: #ffffff !important;
    border: 1px solid #000;
    overflow: auto;
    height: 100%;
   
}
.detail-header{
    background: #464646;
    padding: 10px;
    border-bottom: 1px solid #000;
    font-size: 16px;
}
.detail-section{
    padding: 10px;
    max-height: 600px;
    overflow: auto;
}
.fullscreenmode{
    padding: 10px;
    max-height: calc(100% - 40px);
    overflow: auto;
}
.mr10{
    margin-right: 10px;
}
.heading{
    color :#f89B39;
    font-size: 13pt;
    text-transform: uppercase;
    font-weight: bold;
}
.paddin-10{
    padding: 10px;
}

.hub-heading{
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic
}

.hub-part{
    font-size: 12pt;
    line-height: 20px;
    margin: -10px 0px 10px 20px;
}
.hub-detail{
    font-size: 12pt;
    line-height: 20px;
    text-align: justify; 
}
.img-fluids {
    max-width: 100%;
    height: auto;
}
.col-2 img{
    cursor : pointer;
}
.col-2{
    padding-right: 0px;
}