.arabic-lang {
	/*direction:rtl;*/
	text-align: right !important;
}
.arabic-lang .text-right {
	text-align: right !important;
}
.arabic-lang .sidetext, .arabic-lang .menus, .arabic-lang .location, .arabic-lang .head, .arabic-lang .projects, .arabic-lang .detail-header, .arabic-lang .detail-section {
	font-family: 'HelveticaNeueLT Arabic' !important;
}
.arabic-lang .sidetext, .arabic-lang .detail-header {
	font-weight: bold;
}
.arabic-lang .detail-header .heading {
	text-align: left !important;
}
.arabic-lang .sendbtn {
	margin-right: 0px !important;
}
.arabic-lang .aboutdiv .head{
	/* text-align: left; */
	width: 47%;
}
.arabic-lang .messagetext{
	margin: 15px 0px 15px 15px !important;
}
.arabic-lang .contact-info input, .contact-info textarea{
	text-align:right;
}
.engbtn{
	font-family: "Futura LT Book" !important;
}
.arabic-lang .messagetext textarea{
	margin-right: 0px !important;
	width:92% !important;
	text-align:right;
}
.arabic-lang .monkey-info{
	padding-right: 0px !important;
}