@media only screen and (max-width: 425px) {

  .sidetext {
  	width: auto;
  	margin-top: 50px;
  	font-size: 18pt !important;
  }

  .footerbox {
  	width: auto !important;
  	position: absolute !important;
  	top: 0px;
  }

  .sidehash {
  	position: absolute !important;
  	top: 0 !important;
  	font-size: 16pt !important;
  	margin-left: -160px !important;
  }

  .showreeldiv {
  	position: absolute !important;
    left: 0 !important;
    text-align: left !important;
    top: -795px !important;
  }

  .showreeldiv .img-fluid {
  	max-width: 35% !important;
  }

  .reeltext {
    width: auto !important;
    left: -250px !important;
  }

  .projects-list {
  	margin-top: 280px;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .projects-list  .projects, .detail-section .projects {
  	width: 50% !important;
    margin-top: 15px !important;
  }

  .projects-list  .projects  .img-fluid {
  	max-width: 160px !important;

  }

  .footer-right {
    margin: -27px 20px 20px 40px !important;
  }

  .detail-header .col-2 {
    flex: auto !important;
    max-width: unset !important;
  }

  .archive-list .detail-section {
    background: #dbdbda !important;
  }

  .archive-list .detail-header .col-2, .project-details .detail-header .col-2 {
    margin-top: -22px !important;
  }

  .arabic-lang .sidehash {
    width: 253px !important;
  }

  .arabic-lang .showreeldiv {
    top: -240px !important;
  }
}