
body{
    font-family:"Futura LT Book" !important;
}
.row{
    margin-left:0px !important;
    margin-right:0px !important;
}
.messagetext textarea{
    margin-left: 0px !important
}
.projects{
    margin-bottom: 10px;
    max-height: 110px;
    text-align: center;
    text-decoration: none !important;
    padding-right: 0px;
    padding-left: 0px;
}
.projects h3{
    font-size: 11pt;
    text-align: center;
    margin-top: 10px;
    color: #000000;
}
.heading{
    color :#f89B39;
    font-size: 13pt;
    text-transform: uppercase;
    font-weight: bold;
}
.div20{
    width:20%;
}
.fa{
    color:#ffffff !important;
    cursor: pointer;
}