
<div [ngClass]="(lang==2)?'main-container arabic-lang':'main-container'" [ngClass]="{'absolute' : fullScreen || showReelFullScreen || archiveFullScreen }" (click)="closeAll()">
<div class="container-fluid mtop-50">
    <div class="row">
      <div class="col-md-5 col-sm-12 projectrow">
          <div class="row projects-list">
              <!-- <a [routerLink]="getProjectUrl(project.id)" *ngFor="let project of projects" class="col-md-6 projects" (click)="$event.stopPropagation()"> -->
                <a (click)="projectDetails($event, project)" *ngFor="let project of projects" class="col-md-6 col-sm-6 projects">
                  <img class="img-fluid" src="{{project.image_path}}">
                  <h3>{{project.short_name}}</h3>
              </a>
          </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 projects archivediv" >
              <a [routerLink]="getArchiveUrl()"    (click)="$event.stopPropagation()">
                  <img class="img-fluid" src="/assets/images/folder_icon.png" width="75px" height="70px" >
                  <h3 class="arch3" *ngIf="lang==1">Archive Projects </h3>
                  <h3 class="arch3" *ngIf="lang==2">مشاريع الأرشيف</h3>
              </a>
            </div>
            <div class="col-md-4"></div>
            <div  class="col-md-4 projects showreeldiv" *ngIf="showreels" >
              <a [routerLink]="getShowrealUrl()"   (click)="$event.stopPropagation()">
                  <img class="img-fluid" src="{{ showreels.showreel_thumbnail_path }}">  
                  <h3 class="reeltext" >{{ showreels.showreel_name }}</h3>
              </a>
          </div>
        </div>
        <div style="left: -120px;top: 117px;min-width: 970px;height: 410px;" (started)="projectDrag($event)" (click)="projectDrag($event);$event.stopPropagation()" [zIndex]="projectZIndex" [ngDraggable]="!fullScreen" #projectModel="ngDraggable" *ngIf="showModel"  [ngClass]="{'fullscreen' : fullScreen, 'normal' : !fullScreen}">
          <app-project-detail [project]="selectedProject" (pageEvent)="projectDetailEvent($event)" ></app-project-detail>
        </div>
        <div  style="left: 70px;top: 160px;width: 750px;height: 360px;" (started)="showReelDrag($event)" (click)="showReelDrag($event);$event.stopPropagation()" [zIndex]="showRealZIndex" [ngDraggable]="!showReelFullScreen" #showreelModel="ngDraggable" *ngIf="showShowReelModel" [ngClass]="{'fullscreen' : showReelFullScreen, 'normal' : !showReelFullScreen}">
          <app-showreel (pageEvent)="ShowReelEvent($event)" ></app-showreel>
        </div>
        <div style="left: 70px;top: 160px;width: 750px;height: 360px;"  (started)="archiveDrag($event)"  (click)="archiveDrag($event);$event.stopPropagation()" [zIndex]="archiveZIndex" [ngDraggable]="!archiveFullScreen" #archiveModel="ngDraggable" *ngIf="showArciveModel" [ngClass]="{'fullscreen' : archiveFullScreen, 'normal' : !archiveFullScreen}">
          <app-archive (pageEvent)="showArchiveEvent($event, project)" ></app-archive>
        </div>
      </div>
    </div>
</div>
  <div class="row footerbox">
      <div class="sidetext">
          <div class="tcenter" *ngIf="lang==1" >WE ARE A <br/> CREATIVE <br/> SOLUTIONS <br/> PROVIDER</div> 
          <div class="tcenter text-right" *ngIf="lang==2">نحن <br/>خلاق<br/>محاليل<br/>مزود</div> 
      </div>
      <br/>
        <div class="sidehash sidetext" *ngIf="lang==1">#FROMDUBAITOTHEWORLD</div>
        <div class="sidehash sidetext text-right" *ngIf="lang==2">من دبي إلى العالم #</div>
  </div>
</div> 