<div class="detail-container">

    <div class="detail-header">
        <div class="row">
          <div class="col-10 heading">
      
          </div>
          <div class="col-2 text-right">
            <fa name="window-maximize" (click)="fullScreen();$event.stopPropagation();" class="mr10"></fa>
            <fa name="close" (click)="close();$event.stopPropagation();" ></fa>
          </div>
        </div>
    </div>
      <div class="" [ngClass]="{'fullscreenmode' : isfullScreen , 'detail-section' : !isfullScreen}">
        <!-- <iframe width="100%" height="95%" src="https://www.youtube.com/embed/vTUGrWHzhmw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <iframe width="100%" height="95%" [src]="srcFile | safe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
  </div>